<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thankyou</title>
  <style>

    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
      font-size: 2em;
      margin: auto;
      width: 90%; 
      max-width: 600px; 
      padding: 20px;
      border: 2px solid #fff; 
      border-radius: 10px; 
      background-color: rgba(255, 255, 255, 0.1);
      text-shadow: 0px 0px 52px #b9ffb9;
      box-shadow: 0px 0px 52px yellow;
      animation: pulse 2s infinite ease-in-out;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.1);
        opacity: 0.7;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  
  </style>
</head>
<body>
  <h1>Thank You For Submit</h1>
</body>
</html>
